html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 200);
}
main{
    padding: 20px;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:wheat;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label  {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#numbers {
    width: 100%;
    padding: 30px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}
.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button input[type="button"]{
    font-size:x-large;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.button input[type="button"]:hover {
    background-color: white;
    transform: scale(1.05);
}